*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap-all{
  margin: 5%;
}

.discription{
  background-color:teal;
  color: aliceblue;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

#survey-form{
  margin-top: 7%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: aliceblue;
}

input[type=text],input[type=email],input[type=number], select, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(37, 245, 176);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 50%;
}

input[type=submit]:hover {
  background-color: #6f00ff;
}

.content {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.field {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.main-sec:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .content, .field, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  input[type=submit] {
    margin: 0;
  }

  #survey-form{
    margin-top: 15%;
  }
}

@media screen and (max-width: 768px){
  #survey-form{
    margin-top: 10%;
  }
}

@media only screen and (max-width: 420px){
  .wrap-all{
    margin-top: 22%;
  }
}
